.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    mask-image: linear-gradient(rgba(0, 0, 0, 1.0) 70%, transparent)
}

.welcome > .container > .content {
    position: absolute;
    bottom: 20%;
    left: 5%;
    max-width: 350px;
}

.welcome > .container > .content > h1 {
    font-size: 3rem;
}

.welcome > .container > .content > h1 > span {
    color: #fff;
    font-weight: 900;
}

.welcome > .container > .content > button {
    margin-top: 1rem;
    width: 9rem;
    border-radius: 5px;
    padding: .5rem 2rem;
}
