
.container {
	margin-top: 40%;
}

.container > .box > .b-content > h3 {
	font-size: 4rem;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    mask-image: linear-gradient(transparent, rgba(0, 0, 0, 1.0), transparent);
}

.box > .b-content {
	position: relative;
	z-index: 11;
	max-width: 500px;
}

.b-content > p {
	margin-top: 1rem;
	font-size: 22px;
	line-height: 30px
}

.b-content > img {
	width: 10rem;
}

.b-content > button {
	margin-top: 1rem;
	padding: .5rem 2rem;
	border-color: #fff;
	font-size: 20px
}

@media (max-width:35em) {
	.container > .box > .b-content > h3 {
		font-size: 2.5rem;
		text-align: center;
	}
	.b-content > p {
		font-size: initial;
		margin-top: 25rem;
		text-align: center;
	}
	.b-content > button {
		display: block;
		margin: 1rem auto;
	}
}
