

.second > .flex {
	position: relative;
}
.second > .flex > img {
	aspect: 1/2;
	width: 90%;
	height: 50rem;
}

.text > p {
	font-size: 23px;
	line-height: 30px;
}

.text {
	position: absolute;
	color: #fff;
	background: #2525259f;
	width: 700px;
	min-height: 200px;
	top: 40%;
	right: -40%;
	padding: 2rem;
	border-radius: 5px
}

.second {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.text > h3 {
	font-size: 3rem;
	margin-bottom: 1rem;
}
