{% extends 'base.html' %} {% block title %}Home | Deep Travel{% endblock %} {%
block content %}
<section
  class="relative min-h-[80vh] bg-[url(../../static/assets/p2.jpg)] bg-no-repeat bg-cover"
>
  <div class="relative z-10 text-white">
    <h1>Hello</h1>
  </div>
  <!-- Add the fading effect -->
  <div
    class="absolute inset-0 before:content-[''] before:absolute before:inset-0 before:bg-gradient-to-b before:from-transparent before:via-transparent before:to-[#303030] before:z-[1]"
    style="--start-point: 50%; --end-point: 80%"
  ></div>
</section>
{% endblock %}
