{% extends 'base.html' %} {% block title %}Home | Deep Travel{% endblock %} {%
block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/cards.css')}}" />
<section
  class="relative min-h-[80vh] bg-[url(../../static/assets/r5.jpg)] bg-no-repeat bg-cover"
>
  <div
    class="absolute translate-y-[-50%] top-[80%] left-[4rem] text-white w-[50%] z-30"
  >
    <h1 class="text-6xl text-white font-bold mb-7">
      Explore the <span class="text-[#00bbe7]">universe</span
      ><span class="text-[#00FF00]">.</span>
    </h1>
    <a class="text-xl font-semibold bg-[#66baa8] px-5 py-2" href=""
      >HomeStead 1</a
    >
  </div>
  <!-- Add the fading effect -->
  <div
    class="absolute inset-0 before:content-[''] before:absolute before:inset-0 before:bg-gradient-to-b before:from-transparent before:via-transparent before:to-[#303030] before:z-[1]"
    style="--start-point: 50%; --end-point: 80%"
  ></div>
</section>

<section class="mb-[7rem] pt-20">
  <!-- <h2 class="text-5xl text-center my-10 text-[#878282] font-semibold">
    It's a New Beginning
  </h2> -->

  <div>
    <div class="w-[80%] mx-auto gap-5 relative">
      <img
        src="{{url_for('static', filename='assets/p2.jpg')}}"
        alt="rocket"
        class="w-[100%] h-[400px] object-cover object-center rounded-2xl"
      />
      <div
        class="bg-[#dfdcdc] px-10 py-2 rounded-2xl absolute bottom-[-15%] translate-x-[-50%] left-[15%] opacity-80 w-[50%] transition hover:opacity-100 cursor-pointer"
      >
        <h3 class="text-[1.5rem] text-[#394a63] font-bold">
          Homestead 1: Your New Frontier Awaits
        </h3>
        <p class="text-[#53637f] font-semibold mt-3">
          Homestead 1 is more than a destination—it’s a sanctuary for explorers
          and visionaries. This Earth-like planet boasts a thriving ecosystem,
          rich natural resources, and stunning landscapes ready to be explored
          and settled.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-10">
  <div class="w-[40%] mx-auto text-center">
    <h3 class="text-2xl text-[#f9f7f7] mb-5 font-semibold">
      Our Vehicles: The Backbone of Your Space Adventure
    </h3>
    <p class="text-[#aa9b9b] text-sm font-semibold">
      Our vehicles are engineered with cutting-edge technology to withstand the
      harshest conditions of space travel. From atmospheric exits to
      interplanetary landings, every journey is seamless and safe. Space travel
      doesn’t have to mean sacrifice. Our vehicles offer state-of-the-art
      interiors, designed to keep you comfortable and secure. Enjoy spacious
      cabins, panoramic windows, and a smooth ride from launch to landing.
    </p>
  </div>
</section>

<section class="section3">
  <div class="images flex justify-between items-center">
    <div class="card bg-[url(../assets/i.jpg)]">
      <div class="card-content">
        <h2 class="card-title">Enjoy the view</h2>
        <p class="card-body text-sm">
          Enjoy breathtaking views at the speed of light
        </p>
        <!-- <a href="#form" class="button">Contact Us</a> -->
      </div>
    </div>

    <div class="card bg-[url(../assets/r.jpg)]">
      <div class="card-content">
        <h2 class="card-title">Trust in thrust</h2>
        <p class="card-body text-sm">
          Our powerful engines can lift cargo of any size
        </p>
        <!-- <a href="#form" class="button">Contact Us</a> -->
      </div>
    </div>

    <div class="card bg-[url(../assets/i6.jpg)]">
      <div class="card-content">
        <h2 class="card-title">Hotel in space</h2>
        <p class="card-body text-sm">
          Enjoy living first class suites travelling through space
        </p>
        <!-- <a href="#form" class="button">Contact Us</a> -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
