{% extends "base.html" %} {% block title %}Spaceship L | Deep Travel {% endblock
%} {% block content %}
<section class="min-h-screen flex justify-between items-center bg-[#303030]">
  <div class="mx-auto text-center">
    <img
      src="{{ url_for('static', filename='assets/dev.png') }}"
      alt="Thank you"
      class="block relative bounce-animation"
    />
    <h1 class="font-semibold text-sm text-[#72e441]">
      Spaceship L! Comming real soooon!
    </h1>
    <button
      class="mt-[2rem] mx-auto rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white w-[70%]"
      type="button"
      name="book-btn"
    >
      <a href="{{ url_for('views.home') }}" class="w-full block">Return home</a>
    </button>
  </div>
</section>
{% endblock %}
