* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

footer {
	overflow-y: auto;
}

footer > .f-box {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center
}

footer > .f-box > p {
	margin-right: 2rem;
}
