@media (max-width: 48em) {
  .first-sec {
    background-position: center;
  }
  .intro {
    text-align: center;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
  }
  div.absolute > h1.text-6xl {
    font-size: 3rem;
  }

  .box {
    width: 98%;
  }

  .homes {
    width: 90%;
    left: 50%;
  }

  .card,
  .jour,
  .vehicles {
    width: 90%;
  }

  .card-content {
    transform: translateY(76%);
    transition: transform 500ms ease;
  }
}
