<header class="w-full fixed z-10">
  <nav class="nav flex justify-between items-center w-full mx-auto py-5 px-10">
    <a href="{{ url_for('views.home') }}"
      ><img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        alt="DeepT"
        class="w-[8rem]"
    /></a>

    <ul
      id="navigation"
      class="navigation flex justify-between items-center"
      data-visible="false"
    >
      <li class="mr-[1.5rem]">
        <a
          href="{{ url_for('views.homestead') }}"
          class="text-white text-sm font-semibold"
          >HomeStead 1</a
        >
      </li>
      <li class="mr-[1.5rem]">
        <a
          href="{{ url_for('views.spaceship') }}"
          class="text-white text-sm font-semibold"
          >Spaceship L</a
        >
      </li>
      <li class="mr-[1.5rem]">
        <a
          href="{{ url_for('views.tetraton') }}"
          class="text-white text-sm font-semibold"
          >TetraTron V</a
        >
      </li>
    </ul>

    <div class="buttons">
      <button
        class="mr-[2rem] rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-xs hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
        type="button"
        name="book-btn"
      >
        <a href="{{ url_for('views.book_seat') }}">Book a seat</a>
      </button>
      <button
        class="toggle"
        type="button"
        name="button"
        aria-expanded="false"
        class="text-white"
        style="color: white"
      >
        Menu
      </button>
    </div>
  </nav>
</header>
